/*For whole page */
html {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    background-color: #BCB485;
    grid-template: 120px 100px auto / 100px repeat(3, 1fr) 100px;
}

ul {
    list-style-type: none;
}


/*Grid */
.grid {
    display: grid;
    background-color: #BCB485;
}



/*Nav */
.gridbody {
    background-color: #bcb485
}

.gridheader {
    grid-column: 3 / 4;
    display: grid;
    background-color: #BCB485;
}

    .title {
        grid-row: 1 / 2;
        color: #F5F5F5;
        font-size: 80px;
        font-weight: 300;
    }

    .artp {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        color: #F5F5F5
    }

    .benp {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        color: #F5F5F5;
    }

    .elip {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
        color: #F5F5F5;
    }




/* */
