/*For whole page */
@font-face {
  font-family: "Albert_Sans_Light";
  src: url(../fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Source_Code_Pro";
  src: url(../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}
/*

html, body {
    height: 100%;
    margin: 0;
  }
html {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: hsla(0, 0%, 20%, 1);
    background: linear-gradient(135deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 28%, 1) 51%, hsla(0, 0%, 32%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 28%, 1) 51%, hsla(0, 0%, 32%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 28%, 1) 51%, hsla(0, 0%, 32%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#333333", endColorstr="#474747", GradientType=1 );
}
ul {
    list-style-type: none;
}
h1,
h2 {
    text-align: center;
    font-family: "Sans_Code_Pro", 'Times New Roman', Times, serif;
}

/* head and subhead css 
   {
    margin-bottom: 20px;
    display: grid;
    background: hsla(0, 0%, 97%, 1);
    background: linear-gradient(135deg, hsla(0, 0%, 97%, 1) 0%, hsla(0, 0%, 99%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(0, 0%, 97%, 1) 0%, hsla(0, 0%, 99%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 97%, 1) 0%, hsla(0, 0%, 99%, 1) 50%, hsla(0, 0%, 100%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7F7F7", endColorstr="#FCFCFC", GradientType=1 );
  }
    .subhead {

    }
*/
header.nav {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: center;
}

    .names-header {
      background-color:;
    }

    .arthur,
    .ben,
    .elijah {
      flex: 1 1 auto;
    }


    .flex-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: normal;
      align-content: center;
    }
    
    .flex-items:nth-child(1) {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    
    .flex-items:nth-child(2) {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    
    .flex-items:nth-child(3) {
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
