/*For whole page */
html, body , .container {
    height: 100%;
    margin: 0;
  }

html {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: hsla(51, 29%, 63%, 1);
    background: linear-gradient(225deg, hsla(51, 29%, 63%, 1) 0%, hsla(51, 62%, 68%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(51, 29%, 63%, 1) 0%, hsla(51, 62%, 68%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(51, 29%, 63%, 1) 0%, hsla(51, 62%, 68%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BCB485", endColorstr="#E0D179", GradientType=1 );
}

ul {
    list-style-type: none;
}

h1,
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/*Nav */
.container {  display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 120px 90px 1fr 5%;
    gap: 0px 30px;
    grid-auto-flow: row;
  }

  .Head {
    background-color: #383838;
  }
    .subhead {
        background-color: 
    }
  
  .Ben { 
    grid-area: 2 / 3 / 3 / 4; 
}
    .Ben,
    .BenContent {
        background-color: #F5F5F5;
    }
  
  .Elijah { 
    grid-area: 2 / 4 / 3 / 5; 
}
    .Elijah,
    .ElijahContent {
        background-color: #F5F5F5;
    }
  
  .Arthur { 
    grid-area: 2 / 2 / 3 / 3; 
}
    .Arthur,
    .ArthurContent {
        background-color: #F5F5F5;
    }
  
  .Title { 
    grid-area: 1 / 3 / 2 / 4; 
}
  
  .Head {
     grid-area: 1 / 1 / 2 / 6;
 }
  
  .subhead { 
    grid-area: 2 / 1 / 3 / 6; 
}
  
  .ArthurContent { 
    grid-area: 3 / 2 / 4 / 3; 
}
  
  .BenContent {
     grid-area: 3 / 3 / 4 / 4; 
}
  
  .ElijahContent { 
    grid-area: 3 / 4 / 4 / 5;
 }
  
  .contentright { 
    grid-area: 3 / 5 / 4 / 6; 
}
  
  .contentleft { 
    grid-area: 3 / 1 / 4 / 2; 
}
  
  .mainrow { 
    grid-area: 3 / 1 / 4 / 6; 
}
  
  .footer { 
    grid-area: 4 / 1 / 5 / 6; 
}
  
/* */
